[submodule "file"]
	path = external/file
	url = https://github.com/file/file
[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "libgnurx"]
	path = external/libgnurx
	url = https://github.com/TimothyGu/libgnurx
