name: Build and Test (Linux x86_64 build, GCC Toolchain)

on:
  pull_request:
  push:
    branches: [main]
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  gcc_build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/oguztoraman/libmagicxx-dev:latest
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
      - name: Build.
        run: ./scripts/workflows.sh -p linux-x86_64-gcc -c
      - name: Run Tests.
        run: ./scripts/workflows.sh -p linux-x86_64-gcc-tests -c
      - name: Generate Packages.
        run: ./scripts/workflows.sh -p linux-x86_64-gcc-packages -c
      - name: Install using CMake.
        run: cmake --install build/ --strip
      - name: Run Examples.
        run: ./scripts/workflows.sh -p linux-x86_64-gcc-examples -c
      - name: Uninstall using CMake.
        run: cmake --build build/ --target uninstall
      - name: Install RPM package.
        run: dnf install -y packages/*.rpm
      - name: Run Examples.
        run: ./scripts/workflows.sh -p linux-x86_64-gcc-examples
      - name: Uninstall RPM package.
        run: dnf remove -y libmagicxx
