name: Build and Test (Linux x86_64 build, Clang Toolchain)

on:
  pull_request:
  push:
    branches: [main, 'v*.*.x']
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      container: ${{ steps.set.outputs.container }}
    steps:
      - name: Determine Container Tag.
        id: set
        run: |
          REF="${{ github.base_ref || github.ref_name }}"
          if [[ "$REF" == "main" ]]; then
            TAG=latest
          elif [[ "$REF" =~ ^v([0-9]+)\.([0-9]+)\.0$ ]]; then
            TAG=latest
          else
            TAG="${REF%.*}.x"
          fi
          echo "container=ghcr.io/oguztoraman/libmagicxx-dev:$TAG" >> $GITHUB_OUTPUT
  clang_build:
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.container }}
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
      - name: Build.
        run: ./scripts/workflows.sh -p linux-x86_64-clang -c
      - name: Run Tests.
        run: ./scripts/workflows.sh -p linux-x86_64-clang-tests -c
      - name: Generate Packages.
        run: ./scripts/workflows.sh -p linux-x86_64-clang-packages -c
      - name: Install using CMake.
        run: cmake --install build/ --strip
      - name: Run Examples.
        run: ./scripts/workflows.sh -p linux-x86_64-clang-examples -c
      - name: Uninstall using CMake.
        run: cmake --build build/ --target uninstall
      - name: Install RPM package.
        run: dnf install -y packages/*.rpm
      - name: Run Examples.
        run: ./scripts/workflows.sh -p linux-x86_64-clang-examples
      - name: Uninstall RPM package.
        run: dnf remove -y libmagicxx
