name: Build (Windows x86_64 build, MinGW64 Toolchain)

on:
  pull_request:
  push:
    branches: [main, 'v*.*.x']
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      container: ${{ steps.set.outputs.container }}
    steps:
      - name: Determine Container Tag.
        id: set
        run: |
          REF="${{ github.base_ref || github.ref_name }}"
          if [[ "$REF" == "main" ]]; then
            TAG=latest
          else
            TAG="${REF%.*}.x"
          fi
          echo "container=ghcr.io/oguztoraman/libmagicxx-dev:$TAG" >> $GITHUB_OUTPUT
  mingw64_build:
    needs: setup
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.container }}
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
      - name: Build.
        run: ./scripts/workflows.sh -p windows-x86_64-mingw64 -c
      - name: Generate Packages.
        run: ./scripts/workflows.sh -p windows-x86_64-mingw64-packages -c
