name: Build (Windows x86_64 build, Clang Toolchain)

on:
  pull_request:
  push:
    branches: [main]
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  clang_build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/oguztoraman/libmagicxx-dev:latest
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
      - name: Build.
        run: ./scripts/workflows.sh -p windows-x86_64-clang -c
      - name: Generate Packages.
        run: ./scripts/workflows.sh -p windows-x86_64-clang-packages -c
