name: Deploy Doxygen documentation to GitHub Pages

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      container: ${{ steps.set.outputs.container }}
    steps:
      - name: Determine Container Tag.
        id: set
        run: echo "container=ghcr.io/oguztoraman/libmagicxx-dev:${GITHUB_REF_NAME%.*}.x" >> $GITHUB_OUTPUT
  doxygen_documentation:
    needs: setup
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.container }}
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Generate Doxygen Documentation.
        run: ./scripts/workflows.sh -p documentation -c
      - name: Setup Pages.
        uses: actions/configure-pages@v5
      - name: Upload artifact.
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'documentation/html'
      - name: Deploy to GitHub Pages.
        id: deployment
        uses: actions/deploy-pages@v4
