name: Deploy Release Packages

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release_packages:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/oguztoraman/libmagicxx-dev:latest
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          lfs: true
      - name: Generate Release Packages.
        run: ./scripts/generate_release_packages.sh
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          name: Libmagicxx ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            ./packages/libmagicxx-*
