name: Deploy Doxygen documentation to GitHub Pages

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  doxygen_documentation:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/oguztoraman/libmagicxx-dev:latest
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Generate Doxygen Documentation.
        run: ./scripts/workflows.sh -p documentation -c
      - name: Setup Pages.
        uses: actions/configure-pages@v5
      - name: Upload artifact.
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'documentation/html'
      - name: Deploy to GitHub Pages.
        id: deployment
        uses: actions/deploy-pages@v4
